.box-container {
    border: 1px solid red;
    background-color: #D18C1D;
    padding: 10px;
}

li {
    margin: 15px;
    background: #C0A9DB;
}

p {
    width: 600px;
    height: 400px;
    border: 2px dashed black;
    background: #D1D631;
}