h1, h2 {
    background-color: #d18c18;
    border: red 1px solid;
    padding: 10px;
}

li {
    margin: 15px;
    background-color: #c0a9db;
}

p {
    height: 400px;
    width: 600px;
    background-color: #d1d631;
    border: black dotted 2px;
    box-sizing: border-box;
}
